

  <mat-card class="card-width">
    <mat-card-header>
      <mat-card-title>{{coach.firstName}} {{coach.lastName}}</mat-card-title>
      <mat-card-subtitle>RATE: {{coach.rate}}$</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list ngFor="let area of coach.areas">AREAS: {{coach.areas.join(', ')}}</mat-list>
      <p>{{coach.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="openDialog()" mat-button>CONTACT</button>
    </mat-card-actions>
  </mat-card>

