<div class="content">
  <div>
    <div>
      <mat-checkbox
        #ch
        *ngFor="let area of allAreas"
        (change)="onCheckboxChange(area.desc, ch.checked)"
      >
        {{ area.desc }}</mat-checkbox
      >
    </div>

    <button (click)="onFilter()" mat-raised-button type="button">FILTER</button>
  </div>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let coach of currentCoaches">
      <app-coach-card [coach]="coach"></app-coach-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
